.about-us {

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    .info-box {
        flex: 1;
        padding: 30px;
        h2 {
            font-weight: bold;
            font-size: 30px;
            color: var(--main-color);
            margin: 0 0 10px;
        }

        p {
            line-height: 1.8;
            color: #767676;
            margin: 0;
        }
    }
    .img-box {
        flex: 1;
        text-align: center;

        img {
            width: 250px;
        }
    }

    @include media-breakpoint-down('lg') {
        display: block;
        text-align: center;
    }

}

