.footer {
    background-color: #333;
    color: #eee;
    padding: 20px;
    text-align: center;

    h2 {
        font-weight: bold;
        font-size: 25px;
        color: var(--main-color);
        margin: 0 0 50px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}