.landing-page {
    min-height: 100vh;
    background-image: url("img/01.jpg");
    background-size: cover;
    .overlay {
        background-color: #0000005c;
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .header-area {
        position: relative;
        z-index: 2;
        color: #ffffff;
        display: flex;
        padding: 10px;

        .logo {
            width: 300px;
            padding: 15px;
        }

        .links-container {
            text-align: right;
            width: 100%;
            
            

            .links {
                list-style: none;
                text-align: right;
                padding-left: 0;
                font-size: 20px;

                @include media-breakpoint-down('lg') {
                    display: none;
                }
    
                li {
                    display: inline-block;
                    margin-left: 10px;
                
                    .active {
                        color: var(--main-color)
                    }
                    a {
                        text-decoration: none;
                        color:#ffffff;
                        transition: 1s;
                    
                        &:hover  {
                            color: var(--main-color)
                        }
                    }
                }
                
            }

            .opens {
                background-color: #fff;
                padding: 10px;
                display: block;
                position: absolute;
                left: 0;
                top: 63px;
                width: 100%;
                border-radius: 4px;
                text-align: left;
                
                li {

                    display: block;
                    margin: 10px;

                    a {
                        color: var(--main-color);
                        font-weight: bold;
                    }
                }

                @include media-breakpoint-up('lg') {
                    display: none;
                }

            }

            .active {

                &::before {
                    content: '';
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                    position: absolute;
                    bottom: -15px;
                    left: 10px;
                    
                }
            }
    
            .toggle-menu {
    
                background-color: transparent;
                border: none;
                width: 40px;
                margin-top: 15px;
                position: relative;
                z-index: 2;
                span {
                    display: block;
                    background-color: #fff;
                    height: 4px;
                    margin-bottom: 4px;
                    z-index: 1;
                }
                &:focus {
                    outline: none;
                }

                
                

                @include media-breakpoint-up('lg') {
                    display: none;
                }

            }
        }
        
    }

    .introduction-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        z-index: 2;
        text-align: center;
        width: 95%;
        

        h1 {
            font-size:34px;
            margin: 0 0 12px;
            text-transform: capitalize;
            span {
                color: var(--main-color);
            }
        }
        p {
            line-height: 2;
            font-size:20px;
            margin: 0;
        }

        @include media-breakpoint-down('md') {
            h1 {
                font-size: 26px;
            }
        }
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    z-index: 10000000;
    position: relative;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }




}


