.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;

    .timeline-content {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            width: 2px;
            height: 100%;
            background-color: var(--main-color);
            position: absolute;
            left: 50%;
            margin-left: -1px;
            top: 0;
        }

        .year {
            margin: 20px auto;
            width: 50px;
            background-color: var(--main-color);
            position: relative;
            z-index: 2;
            border-radius: 4px;
            text-align: center;
            color: #fff;
            padding: 2px 5px;
            font-weight: bold;
        }


        .left {
            width: calc(50% - 25px);
            margin-bottom: 40px;
            position: relative;
            float: left;

            &::before {
                content: '';
                width: 14px;
                height: 14px;
                background-color: #fff;
                border: 3px solid var(--main-color);
                position: absolute;
                right: -35px;
                border-radius: 50%;
                top: 10px;
            }

            .content {
                padding: 20px;
                background-color: #fff;

                &::before {
                    content: '';
                    border-style: solid;
                    border-width: 10px;
                    border-color: transparent transparent transparent #fff;
                    height: 0;
                    width: 0;
                    position: absolute;
                    right: -20px;
                    top: 20px;
                }
    
                h3 {
                    font-weight: bold;
                    color: var(--main-color);
                    margin: 0 0 10px;
                }
    
                p {
                    color:  #666;
                    margin: 0;
                    line-height: 1.6;
                }
            }

            @include media-breakpoint-down('md') {
                width: 100%;
                margin-bottom: 20px;

                &::before {
                    display: none;
                }

                .content::before {
                    display: none;
                }
            }


        }

        .right {
            width: calc(50% - 25px);
            margin-bottom: 40px;
            position: relative;
            float: right;

            &::before {
                content: '';
                width: 14px;
                height: 14px;
                background-color: #fff;
                border: 3px solid var(--main-color);
                position: absolute;
                left: -35px;
                border-radius: 50%;
                top: 10px;
            }

            .content {
                padding: 20px;
                background-color: #fff;

                &::before {
                    content: '';
                    border-style: solid;
                    border-width: 10px;
                    border-color: transparent #fff transparent transparent ;
                    height: 0;
                    width: 0;
                    position: absolute;
                    left: -20px;
                    top: 20px;
                }
    
                h3 {
                    font-weight: bold;
                    color: var(--main-color);
                    margin: 0 0 10px;
                }
    
                p {
                    color:  #666;
                    margin: 0;
                    line-height: 1.6;
                }
            }

            @include media-breakpoint-down('md') {
                width: 100%;
                margin-bottom: 20px;

                &::before {
                    display: none;
                }

                .content::before {
                    display: none;
                }
            }

        }


    }
}